.pageContainer {
    width: 100vw;
    min-height: 90vh;
    padding: 4vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContainer h1 {
    align-self: center;
    font-size: 2.5vw;
    margin-bottom: 4vh;
}

.contentContainer {
    border-radius: 1vw;
    padding: 3vh 3vw;
    box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
    margin-bottom: 4vh;
}

.contentContainer p {
    margin: 2vh 0;
    line-height: 1.6;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-bottom: 10vh;
}

.btnContainer p{
    font-size: 1.2vw;
}

.btn {
    background: white;
    border: none;
    border-radius: 1vw;
    padding: 1.5vh 3vw;
    font-size: 1.2vw;
    cursor: pointer;
    box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-0.2vh);
    box-shadow: 0 0.4vw 1.2vw rgba(0, 0, 0, 0.15);
}
